name: Build and Test

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install Dependencies
        run: |
          brew install cmake glfw glm openal-soft assimp vulkan-loader molten-vk vulkan-validationlayers spirv-cross spirv-headers spirv-tools ninja
      - name: Build
        run: |
          mkdir build
          cd build
          cmake .. -DBACKEND=AUTO -G Ninja
          ninja -j4
