name: Deploy documentation

on:
  push:
    branches:
      - stable
  pull_request:

permissions:
  contents: write

jobs:
  build:
    if: github.event_name != 'pull_request'
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install Dependencies
        run: brew install cmake doxygen graphviz glfw glm openal-soft assimp vulkan-loader molten-vk vulkan-validationlayers spirv-cross spirv-headers spirv-tools ninja
      - name: Build doxygen
        run: |
          cmake . -DBACKEND_OPENGL=OFF -G Ninja
          doxygen Doxyfile
      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/html
          publish_branch: gh-pages
